{
  "openapi": "3.1.0",
  "info": {
    "title": "ChatGPT User Interaction API",
    "description": "An API enabling seamless user registration, credential recovery, and interaction management through ChatGPT.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://user.demo.gpt.wiredgeese.com/"
    }
  ],
  "paths": {
    "/web-api-service/Fl64_Gpt_User_Shared_Web_Api_SignUp_Init": {
      "post": {
        "summary": "Initialize user sign-up",
        "description": "Begins user sign-up by collecting email, consent, locale, and passphrase. Creates a user record with 'pending verification' status, generates a PIN, and sends an email verification token. PIN and passphrase must be securely stored by the client.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "userSignUpInit",
        "requestBody": {
          "description": "Data required to initialize the user sign-up process. The email will be used for communication and account verification. Consent must be set to `true` to proceed. The passphrase is used as a personal authentication token alongside the PIN.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "The user's email address used for account verification and communication. It must be in a valid email format and only include the address part.",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "isConsent": {
                    "type": "boolean",
                    "description": "A flag indicating whether the user has agreed to data processing. This must be set to `true`. Sending `false` will result in an invalid request.",
                    "example": true
                  },
                  "locale": {
                    "type": "string",
                    "description": "The user's preferred locale for application interaction, formatted according to BCP 47. Determines the language and format of the user interface.",
                    "example": "en-US"
                  },
                  "name": {
                    "type": "string",
                    "description": "The user's name. This field is used to personalize the user's experience within the application and is displayed in account-related sections. It should be a simple and recognizable name, such as the user's first name or full name.",
                    "example": "John Doe",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "passPhrase": {
                    "type": "string",
                    "description": "A secret passphrase chosen by the user. It serves as an authentication token along with the PIN. Passphrases must be meaningful, easy to pronounce, and suitable for voice interfaces.",
                    "minLength": 8,
                    "maxLength": 128,
                    "example": "sunny day morning"
                  }
                },
                "required": ["email", "isConsent", "name", "passPhrase"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The sign-up process was initiated successfully. The response includes the user's PIN (inactive until email verification is completed) and instructions for the next steps.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "enum": [
                        "CONSENT_REQUIRED",
                        "EMAIL_ALREADY_REGISTERED",
                        "SERVER_ERROR",
                        "SUCCESS"
                      ],
                      "description": "Indicates the outcome of the registration initiation. Possible values are: CONSENT_REQUIRED (consent not provided), EMAIL_ALREADY_REGISTERED (email already in use), SERVER_ERROR (an internal issue), SUCCESS (registration initiated)."
                    },
                    "pin": {
                      "type": "integer",
                      "description": "A unique numeric PIN assigned to the user during registration. This PIN remains inactive until the user's email is verified and is required for future authentication along with the passphrase.",
                      "example": 123456
                    },
                    "instructions": {
                      "type": "string",
                      "description": "Next-step instructions for the user to complete their registration. The instructions are translated into the user's preferred language.",
                      "example": "Please verify your email address by clicking the link we sent to your email."
                    }
                  },
                  "required": ["resultCode", "pin", "instructions"]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. An unexpected issue occurred while processing the request. The user should retry later.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A message indicating that the service is temporarily unavailable.",
                      "example": "Service unavailable. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/web-api-service/Fl64_Gpt_User_Shared_Web_Api_Test_Email": {
      "post": {
        "summary": "Send a test email to the user's registered address",
        "description": "This endpoint allows a registered user to send a test email to their registered email address. Authentication is performed using the user's PIN and passphrase. Optional fields for the email subject and message can be provided, or default values will be used.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "emailTestSend",
        "requestBody": {
          "description": "Data required to authenticate the user and send a test email to their registered email address.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pin": {
                    "type": "integer",
                    "description": "The unique PIN assigned to the user during registration. Required for authentication.",
                    "example": 123456
                  },
                  "passPhrase": {
                    "type": "string",
                    "description": "The user's secret passphrase for authentication. This must match the passphrase provided during registration.",
                    "example": "my_secure_passphrase"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject line of the email. If not provided, the service will use a default value.",
                    "example": "Test Email"
                  },
                  "message": {
                    "type": "string",
                    "description": "The body of the email. If not provided, the service will use a default message.",
                    "example": "Hello, this is a test email from our application!"
                  }
                },
                "required": ["pin", "passPhrase"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The email operation completed successfully or failed with an appropriate error message.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "Indicates the result of the operation. Possible values are: UNAUTHENTICATED, SERVICE_ERROR, SUCCESS.",
                      "enum": [
                        "UNAUTHENTICATED",
                        "SERVICE_ERROR",
                        "SUCCESS"
                      ]
                    },
                    "instructions": {
                      "type": "string",
                      "description": "A human-readable message describing the result of the operation. This message should be translated into the user's preferred language before being displayed.",
                      "example": "The email was successfully sent to the user's registered address."
                    }
                  },
                  "required": ["resultCode", "instructions"]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. An unexpected issue occurred while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A general error message indicating that the service is temporarily unavailable.",
                      "example": "Service unavailable. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/web-api-service/Fl64_Gpt_User_Shared_Web_Api_Update_Init": {
      "post": {
        "summary": "Initiate Profile Editing Process",
        "description": "Allows users to request a secure, single-use link for editing their profile. Users can identify themselves using their registered email or unique PIN. If both identifiers are provided, email takes precedence. The service sends the generated link to the user's email address.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "userProfileUpdateInit",
        "requestBody": {
          "description": "Data required to initiate the profile editing process. Users must provide at least one identifier (email or PIN) to proceed.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "The email address associated with the user's account. This is the primary identifier for initiating the profile editing process. If found, the system will send the profile editing link to this address.",
                    "example": "user@example.com"
                  },
                  "pin": {
                    "type": "integer",
                    "description": "The unique PIN assigned to the user during registration. Serves as an alternative identifier if the email is not provided or does not match any registered user.",
                    "example": 123456
                  }
                },
                "required": ["email"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The profile editing process was successfully initiated, and the link was sent to the user's registered email address.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "instructions": {
                      "type": "string",
                      "description": "A human-readable message describing the result of the operation. Provides feedback on whether the profile editing link was successfully sent or if an error occurred. This message should be localized to the user's preferred language.",
                      "example": "The profile editing link was successfully sent to the user's registered email address."
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "A code indicating the result of the profile editing initiation process. Used programmatically to determine the operation's success or failure.",
                      "enum": ["SUCCESS", "SERVER_ERROR"],
                      "example": "SUCCESS"
                    }
                  },
                  "required": ["instructions", "resultCode"]
                }
              }
            }
          },
          "403": {
            "description": "The request is forbidden due to missing or invalid Bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "A message indicating that the request was not authorized due to missing or invalid Bearer token.",
                      "example": "Authorization failed: Bearer token is missing or invalid."
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred during the profile editing initiation process.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "instructions": {
                      "type": "string",
                      "description": "A human-readable message indicating that an error occurred during the process. Informs the user or application to retry the operation later.",
                      "example": "An unexpected server error occurred. Please try again later."
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "A code indicating that a server error occurred. Allows the application to programmatically recognize the failure and take appropriate actions.",
                      "enum": ["SERVER_ERROR"],
                      "example": "SERVER_ERROR"
                    }
                  },
                  "required": ["instructions", "resultCode"]
                }
              }
            }
          }
        }
      }
    },
    "/web-api-service/GptUser_Shared_Web_Api_Message_Submission": {
      "post": {
        "summary": "Submit a message to the business owner",
        "description": "Authenticated users send messages in their language via chat. Chat translates the message into English and Russian before delivery. English is for international use; Russian is for the business owner.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "emailOwnerSend",
        "requestBody": {
          "description": "Data required to submit a message to the business owner or support team.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pin": {
                    "type": "integer",
                    "description": "The user's unique PIN for authentication. Used alongside the passphrase to verify the user's identity.",
                    "example": 123456
                  },
                  "passPhrase": {
                    "type": "string",
                    "description": "The user's secret passphrase for authentication. Ensures that the message is submitted by a valid user.",
                    "example": "my_secure_passphrase"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject of the message. Provides a brief and meaningful description of the user's intent. This field is always specified by the chat in English.",
                    "example": "Inquiry about Custom Integrations"
                  },
                  "messageEn": {
                    "type": "string",
                    "description": "The body of the message in English. Translated from the user's original input to ensure clarity in international communication.",
                    "example": "I would like to inquire about custom integrations. Contact: email@example.com"
                  },
                  "messageRu": {
                    "type": "string",
                    "description": "The body of the message in Russian. Translated from the user's original input to ensure clarity for Russian-speaking recipients.",
                    "example": "Я хотел бы узнать о кастомных интеграциях. Контакт: email@example.com"
                  }
                },
                "required": ["pin", "passPhrase", "messageEn", "messageRu"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The message was successfully submitted or failed with an appropriate error message.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "enum": [
                        "UNAUTHENTICATED",
                        "SERVICE_ERROR",
                        "SUCCESS"
                      ],
                      "description": "Indicates the result of the operation. Possible values are: UNAUTHENTICATED, SERVICE_ERROR, SUCCESS.",
                      "example": "SUCCESS"
                    },
                    "instructions": {
                      "type": "string",
                      "description": "A human-readable message describing the result of the operation. This message is provided in English and must be translated by the chat into the user's preferred language.",
                      "example": "The message has been successfully submitted. We will contact you shortly."
                    }
                  },
                  "required": ["resultCode", "instructions"]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. An unexpected issue occurred while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A general error message indicating that the service is temporarily unavailable.",
                      "example": "Service unavailable. Please try again later."
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        }
      }
    }
  }
}